<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="style/public.css" />
<link rel="stylesheet" type="text/css" href="style/show.css" />
</head>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">sifangku</div>
			<div class="nav">
				<a class="hover">首页</a>
			</div>
			<div class="serarch">
				<form>
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
			<div class="login">
				<a>登录</a>&nbsp;
				<a>注册</a>
			</div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="position" class="auto">
		 <a>首页</a> &gt; <a>NBA</a> &gt; <a>私房库</a> &gt; 的青蛙地区稳定期望
	</div>
	<div id="main" class="auto">
		<div class="wrap1">
			<div class="pages">
				<a>« 上一页</a>
				<a>1</a>
				<span>2</span>
				<a>3</a>
				<a>4</a>
				<a>...13</a>
				<a>下一页 »</a>
			</div>
			<a class="btn reply" href="#"></a>
			<div style="clear:both;"></div>
		</div>
		<div class="wrapContent">
			<div class="left">
				<div class="face">
					<a target="_blank" href="">
						<img src="style/2374101_middle.jpg" />
					</a>
				</div>
				<div class="name">
					<a href="">孙胜利</a>
				</div>
			</div>
			<div class="right">
				<div class="title">
					<h2>测试</h2>
					<span>阅读：339&nbsp;|&nbsp;回复：15</span>
					<div style="clear:both;"></div>
				</div>
				<div class="pubdate">
					<span class="date">发布于：2014-12-08 15:03 </span>
					<span class="floor" style="color:red;font-size:14px;font-weight:bold;">楼主</span>
				</div>
				<div class="content">
					 带我去的青蛙当前我的青蛙地区稳定期望
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="wrapContent">
			<div class="left">
				<div class="face">
					<a target="_blank" href="">
						<img src="style/2374101_middle.jpg" />
					</a>
				</div>
				<div class="name">
					<a href="">孙胜利</a>
				</div>
			</div>
			<div class="right">
				
				<div class="pubdate">
					<span class="date">回复时间：2014-12-29 14:24:26</span>
					<span class="floor">1楼&nbsp;|&nbsp;<a href="#">引用</a></span>
				</div>
				<div class="content">
					定位球定位器
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="wrapContent">
			<div class="left">
				<div class="face">
					<a target="_blank" data-uid="2374101" href="">
						<img src="style/2374101_middle.jpg" />
					</a>
				</div>
				<div class="name">
					<a class="J_user_card_show mr5" data-uid="2374101" href="">孙胜利</a>
				</div>
			</div>
			<div class="right">
				
				<div class="pubdate">
					<span class="date">回复时间：2014-12-29 14:24:26</span>
					<span class="floor">1楼&nbsp;|&nbsp;<a href="#">引用</a></span>
				</div>
				<div class="content">
					<div class="quote">
					<h2>引用 1楼 孙胜利 发表的: </h2>
					哈哈
					</div>
					定位球定位器
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="wrap1">
			<div class="pages">
				<a>« 上一页</a>
				<a>1</a>
				<span>2</span>
				<a>3</a>
				<a>4</a>
				<a>...13</a>
				<a>下一页 »</a>
			</div>
			<a class="btn reply" href="#"></a>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>私房库</a>
		</div>
		<div class="copyright">Powered by sifangku ©2015 sifangku.com</div>
	</div>
</body>
</html>